@model Custommer
@{
    ViewData["Title"] = "Vista del cliente";
}


<div class="card border-primary mb-3">
  <div class="card-header card-title"  style="max-height: 45px;">
    
    <h5 class="card-title">@ViewBag.action</h5>
  </div>
  <div class="card-body">
      
      <form asp-action="SaveCustommer" asp-controller="Home" method="post" asp-route-newClient="@ViewBag.newClient">

          <div class="mb-2">
              <label class="form-label">Id de Cliente</label>
              <input type="text" class="form-control form-control-sm" asp-for="CustomerId">
          </div>

          <div class="mb-2">
              <label class="form-label">Empresa</label>
              <input type="text" class="form-control form-control-sm" asp-for="CompanyName">
          </div>

          <div class="mb-2">
              <label class="form-label">Nombre</label>
              <input type="text" class="form-control form-control-sm" asp-for="ContactName">
          </div>

          <div class="mb-2">
              <label class="form-label">Dirección</label>
              <input type="text" class="form-control form-control-sm" asp-for="Address">
          </div>

          <div class="mb-2">
              <label class="form-label">Ciudad</label>
              <input type="text" class="form-control form-control-sm" asp-for="City">
          </div>

          <div class="mb-2">
              <label class="form-label">Telefono</label>
              <input type="text" class="form-control form-control-sm" asp-for="Phone">
          </div>

          <div class="mx-auto">
              <button type="submit" class="btn btn-success btn-lg btn-block align-middle">Aceptar</button>
              <a asp-action="Index" asp-controller="Home" class="btn btn-danger btn-lg btn-block align-middle">Cancelar</a>
          </div>
          
      </form>

  </div>
</div>
